<div>
    <h2 id="page-heading">
        <span jhiTranslate="plandbApp.planInfoDataAtchHis.home.title">Plan Info Data Atch His</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plan-info-data-atch-his-sdm-suffix" [routerLink]="['/plan-info-data-atch-his-sdm-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="plandbApp.planInfoDataAtchHis.home.createLabel">
            Create new Plan Info Data Atch His
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'plandbApp.planInfoDataAtchHis.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="planInfoDataAtchHis">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="plandbApp.planInfoDataAtchHis.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="storeDir"><span jhiTranslate="plandbApp.planInfoDataAtchHis.storeDir">Store Dir</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="storeName"><span jhiTranslate="plandbApp.planInfoDataAtchHis.storeName">Store Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sortString"><span jhiTranslate="plandbApp.planInfoDataAtchHis.sortString">Sort String</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fileType"><span jhiTranslate="plandbApp.planInfoDataAtchHis.fileType">File Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deleteFlag"><span jhiTranslate="plandbApp.planInfoDataAtchHis.deleteFlag">Delete Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="storeType"><span jhiTranslate="plandbApp.planInfoDataAtchHis.storeType">Store Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ver"><span jhiTranslate="plandbApp.planInfoDataAtchHis.ver">Ver</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="encryptedFlag"><span jhiTranslate="plandbApp.planInfoDataAtchHis.encryptedFlag">Encrypted Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="encryptedType"><span jhiTranslate="plandbApp.planInfoDataAtchHis.encryptedType">Encrypted Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="jsonString"><span jhiTranslate="plandbApp.planInfoDataAtchHis.jsonString">Json String</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="plandbApp.planInfoDataAtchHis.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="attachmentPath"><span jhiTranslate="plandbApp.planInfoDataAtchHis.attachmentPath">Attachment Path</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="attachmentBlob"><span jhiTranslate="plandbApp.planInfoDataAtchHis.attachmentBlob">Attachment Blob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="attachmentName"><span jhiTranslate="plandbApp.planInfoDataAtchHis.attachmentName">Attachment Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="textBlob"><span jhiTranslate="plandbApp.planInfoDataAtchHis.textBlob">Text Blob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageBlob"><span jhiTranslate="plandbApp.planInfoDataAtchHis.imageBlob">Image Blob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageBlobName"><span jhiTranslate="plandbApp.planInfoDataAtchHis.imageBlobName">Image Blob Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validType"><span jhiTranslate="plandbApp.planInfoDataAtchHis.validType">Valid Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validBegin"><span jhiTranslate="plandbApp.planInfoDataAtchHis.validBegin">Valid Begin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validEnd"><span jhiTranslate="plandbApp.planInfoDataAtchHis.validEnd">Valid End</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="insertTime"><span jhiTranslate="plandbApp.planInfoDataAtchHis.insertTime">Insert Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="plandbApp.planInfoDataAtchHis.updateTime">Update Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creatorUserName"><span jhiTranslate="plandbApp.planInfoDataAtchHis.creator">Creator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedByUserName"><span jhiTranslate="plandbApp.planInfoDataAtchHis.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planInfoAtchName"><span jhiTranslate="plandbApp.planInfoDataAtchHis.planInfoAtch">Plan Info Atch</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planInfoDataHisName"><span jhiTranslate="plandbApp.planInfoDataAtchHis.planInfoDataHis">Plan Info Data His</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let planInfoDataAtchHis of planInfoDataAtchHis ;trackBy: trackId">
                <td><a [routerLink]="['/plan-info-data-atch-his-sdm-suffix', planInfoDataAtchHis.id, 'view' ]">{{planInfoDataAtchHis.id}}</a></td>
                <td>{{planInfoDataAtchHis.name}}</td>
                <td>{{planInfoDataAtchHis.storeDir}}</td>
                <td>{{planInfoDataAtchHis.storeName}}</td>
                <td>{{planInfoDataAtchHis.sortString}}</td>
                <td>{{planInfoDataAtchHis.fileType}}</td>
                <td>{{planInfoDataAtchHis.deleteFlag}}</td>
                <td>{{planInfoDataAtchHis.storeType}}</td>
                <td>{{planInfoDataAtchHis.ver}}</td>
                <td>{{planInfoDataAtchHis.encryptedFlag}}</td>
                <td>{{planInfoDataAtchHis.encryptedType}}</td>
                <td>{{planInfoDataAtchHis.jsonString}}</td>
                <td>{{planInfoDataAtchHis.remarks}}</td>
                <td>{{planInfoDataAtchHis.attachmentPath}}</td>
                <td>
                    <a *ngIf="planInfoDataAtchHis.attachmentBlob" (click)="openFile(planInfoDataAtchHis.attachmentBlobContentType, planInfoDataAtchHis.attachmentBlob)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="planInfoDataAtchHis.attachmentBlob">{{planInfoDataAtchHis.attachmentBlobContentType}}, {{byteSize(planInfoDataAtchHis.attachmentBlob)}}</span>
                </td>
                <td>{{planInfoDataAtchHis.attachmentName}}</td>
                <td>{{planInfoDataAtchHis.textBlob}}</td>
                <td>
                    <a *ngIf="planInfoDataAtchHis.imageBlob" (click)="openFile(planInfoDataAtchHis.imageBlobContentType, planInfoDataAtchHis.imageBlob)">
                        <img [src]="'data:' + planInfoDataAtchHis.imageBlobContentType + ';base64,' + planInfoDataAtchHis.imageBlob" style="max-height: 30px;" alt="planInfoDataAtchHis image"/>
                    </a>
                    <span *ngIf="planInfoDataAtchHis.imageBlob">{{planInfoDataAtchHis.imageBlobContentType}}, {{byteSize(planInfoDataAtchHis.imageBlob)}}</span>
                </td>
                <td>{{planInfoDataAtchHis.imageBlobName}}</td>
                <td jhiTranslate="{{'plandbApp.ValidType.' + planInfoDataAtchHis.validType}}">{{planInfoDataAtchHis.validType}}</td>
                <td>{{planInfoDataAtchHis.validBegin | date:'medium'}}</td>
                <td>{{planInfoDataAtchHis.validEnd | date:'medium'}}</td>
                <td>{{planInfoDataAtchHis.insertTime | date:'medium'}}</td>
                <td>{{planInfoDataAtchHis.updateTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="planInfoDataAtchHis.creatorId">
                        <a [routerLink]="['../rms-user-sdm-suffix', planInfoDataAtchHis.creatorId , 'view' ]" >{{planInfoDataAtchHis.creatorUserName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="planInfoDataAtchHis.modifiedById">
                        <a [routerLink]="['../rms-user-sdm-suffix', planInfoDataAtchHis.modifiedById , 'view' ]" >{{planInfoDataAtchHis.modifiedByUserName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="planInfoDataAtchHis.planInfoAtchId">
                        <a [routerLink]="['../plan-info-atch-sdm-suffix', planInfoDataAtchHis.planInfoAtchId , 'view' ]" >{{planInfoDataAtchHis.planInfoAtchName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="planInfoDataAtchHis.planInfoDataHisId">
                        <a [routerLink]="['../plan-info-data-his-sdm-suffix', planInfoDataAtchHis.planInfoDataHisId , 'view' ]" >{{planInfoDataAtchHis.planInfoDataHisName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/plan-info-data-atch-his-sdm-suffix', planInfoDataAtchHis.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/plan-info-data-atch-his-sdm-suffix', planInfoDataAtchHis.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plan-info-data-atch-his-sdm-suffix/'+ planInfoDataAtchHis.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
