<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-plan-info-step-data-atch-his-sdm-suffix-heading" jhiTranslate="plandbApp.planInfoStepDataAtchHis.home.createOrEditLabel">Create or edit a Plan Info Step Data Atch His</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!planInfoStepDataAtchHis.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="planInfoStepDataAtchHis.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.name" for="field_name" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.name' | translate">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="planInfoStepDataAtchHis.name" required maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.storeDir" for="field_storeDir" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.storeDir' | translate">Store Dir</label>
                    <input type="text" class="form-control" name="storeDir" id="field_storeDir"
                        [(ngModel)]="planInfoStepDataAtchHis.storeDir" maxlength="4000"/>
                    <div [hidden]="!(editForm.controls.storeDir?.dirty && editForm.controls.storeDir?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.storeDir?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.storeName" for="field_storeName" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.storeName' | translate">Store Name</label>
                    <input type="text" class="form-control" name="storeName" id="field_storeName"
                        [(ngModel)]="planInfoStepDataAtchHis.storeName" maxlength="4000"/>
                    <div [hidden]="!(editForm.controls.storeName?.dirty && editForm.controls.storeName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.storeName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.sortString" for="field_sortString" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.sortString' | translate">Sort String</label>
                    <input type="text" class="form-control" name="sortString" id="field_sortString"
                        [(ngModel)]="planInfoStepDataAtchHis.sortString" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.sortString?.dirty && editForm.controls.sortString?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sortString?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.fileType" for="field_fileType" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.fileType' | translate">File Type</label>
                    <input type="text" class="form-control" name="fileType" id="field_fileType"
                        [(ngModel)]="planInfoStepDataAtchHis.fileType" maxlength="256"/>
                    <div [hidden]="!(editForm.controls.fileType?.dirty && editForm.controls.fileType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fileType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                        This field cannot be longer than 256 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.deleteFlag" for="field_deleteFlag" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.deleteFlag' | translate">Delete Flag</label>
                    <input type="checkbox" class="form-control" name="deleteFlag" id="field_deleteFlag"
                        [(ngModel)]="planInfoStepDataAtchHis.deleteFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.storeType" for="field_storeType" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.storeType' | translate">Store Type</label>
                    <input type="text" class="form-control" name="storeType" id="field_storeType"
                        [(ngModel)]="planInfoStepDataAtchHis.storeType" maxlength="256"/>
                    <div [hidden]="!(editForm.controls.storeType?.dirty && editForm.controls.storeType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.storeType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                        This field cannot be longer than 256 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.ver" for="field_ver" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.ver' | translate">Ver</label>
                    <input type="text" class="form-control" name="ver" id="field_ver"
                        [(ngModel)]="planInfoStepDataAtchHis.ver" maxlength="256"/>
                    <div [hidden]="!(editForm.controls.ver?.dirty && editForm.controls.ver?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ver?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                        This field cannot be longer than 256 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.encryptedFlag" for="field_encryptedFlag" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.encryptedFlag' | translate">Encrypted Flag</label>
                    <input type="text" class="form-control" name="encryptedFlag" id="field_encryptedFlag"
                        [(ngModel)]="planInfoStepDataAtchHis.encryptedFlag" maxlength="256"/>
                    <div [hidden]="!(editForm.controls.encryptedFlag?.dirty && editForm.controls.encryptedFlag?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.encryptedFlag?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                        This field cannot be longer than 256 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.encryptedType" for="field_encryptedType" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.encryptedType' | translate">Encrypted Type</label>
                    <input type="text" class="form-control" name="encryptedType" id="field_encryptedType"
                        [(ngModel)]="planInfoStepDataAtchHis.encryptedType" maxlength="256"/>
                    <div [hidden]="!(editForm.controls.encryptedType?.dirty && editForm.controls.encryptedType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.encryptedType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                        This field cannot be longer than 256 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.jsonString" for="field_jsonString" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.jsonString' | translate">Json String</label>
                    <input type="text" class="form-control" name="jsonString" id="field_jsonString"
                        [(ngModel)]="planInfoStepDataAtchHis.jsonString" maxlength="4000"/>
                    <div [hidden]="!(editForm.controls.jsonString?.dirty && editForm.controls.jsonString?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.jsonString?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.remarks" for="field_remarks" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.remarks' | translate">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                        [(ngModel)]="planInfoStepDataAtchHis.remarks" maxlength="4000"/>
                    <div [hidden]="!(editForm.controls.remarks?.dirty && editForm.controls.remarks?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.remarks?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.attachmentPath" for="field_attachmentPath" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.attachmentPath' | translate">Attachment Path</label>
                    <input type="text" class="form-control" name="attachmentPath" id="field_attachmentPath"
                        [(ngModel)]="planInfoStepDataAtchHis.attachmentPath" maxlength="4000"/>
                    <div [hidden]="!(editForm.controls.attachmentPath?.dirty && editForm.controls.attachmentPath?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.attachmentPath?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.attachmentBlob" for="field_attachmentBlob" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.attachmentBlob' | translate">Attachment Blob</label>
                    <div>
                        <div *ngIf="planInfoStepDataAtchHis.attachmentBlob" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(planInfoStepDataAtchHis.attachmentBlobContentType, planInfoStepDataAtchHis.attachmentBlob)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{planInfoStepDataAtchHis.attachmentBlobContentType}}, {{byteSize(planInfoStepDataAtchHis.attachmentBlob)}}</span>
                            <button type="button" (click)="planInfoStepDataAtchHis.attachmentBlob=null;planInfoStepDataAtchHis.attachmentBlobContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_attachmentBlob" (change)="setFileData($event, planInfoStepDataAtchHis, 'attachmentBlob', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="attachmentBlob" id="field_attachmentBlob"
                        [(ngModel)]="planInfoStepDataAtchHis.attachmentBlob" />
                    <input type="hidden" class="form-control" name="attachmentBlobContentType" id="field_attachmentBlobContentType"
                        [(ngModel)]="planInfoStepDataAtchHis.attachmentBlobContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.attachmentName" for="field_attachmentName" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.attachmentName' | translate">Attachment Name</label>
                    <input type="text" class="form-control" name="attachmentName" id="field_attachmentName"
                        [(ngModel)]="planInfoStepDataAtchHis.attachmentName" maxlength="4000"/>
                    <div [hidden]="!(editForm.controls.attachmentName?.dirty && editForm.controls.attachmentName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.attachmentName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.textBlob" for="field_textBlob" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.textBlob' | translate">Text Blob</label>
                    <textarea class="form-control" name="textBlob" id="field_textBlob"
                        [(ngModel)]="planInfoStepDataAtchHis.textBlob" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.imageBlob" for="field_imageBlob" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.imageBlob' | translate">Image Blob</label>
                    <div>
                        <img [src]="'data:' + planInfoStepDataAtchHis.imageBlobContentType + ';base64,' + planInfoStepDataAtchHis.imageBlob" style="max-height: 100px;" *ngIf="planInfoStepDataAtchHis.imageBlob" alt="planInfoStepDataAtchHis image"/>
                        <div *ngIf="planInfoStepDataAtchHis.imageBlob" class="form-text text-danger clearfix">
                            <span class="pull-left">{{planInfoStepDataAtchHis.imageBlobContentType}}, {{byteSize(planInfoStepDataAtchHis.imageBlob)}}</span>
                            <button type="button" (click)="clearInputImage('imageBlob', 'imageBlobContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imageBlob" (change)="setFileData($event, planInfoStepDataAtchHis, 'imageBlob', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imageBlob" id="field_imageBlob"
                        [(ngModel)]="planInfoStepDataAtchHis.imageBlob" />
                    <input type="hidden" class="form-control" name="imageBlobContentType" id="field_imageBlobContentType"
                        [(ngModel)]="planInfoStepDataAtchHis.imageBlobContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.imageBlobName" for="field_imageBlobName" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.imageBlobName' | translate">Image Blob Name</label>
                    <input type="text" class="form-control" name="imageBlobName" id="field_imageBlobName"
                        [(ngModel)]="planInfoStepDataAtchHis.imageBlobName" maxlength="4000"/>
                    <div [hidden]="!(editForm.controls.imageBlobName?.dirty && editForm.controls.imageBlobName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.imageBlobName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.validType" for="field_validType" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.validType' | translate">Valid Type</label>
                    <select class="form-control" name="validType" [(ngModel)]="planInfoStepDataAtchHis.validType" id="field_validType" >
                        <option value="LONG">{{'plandbApp.ValidType.LONG' | translate}}</option>
                        <option value="SCOPE">{{'plandbApp.ValidType.SCOPE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.validBegin" for="field_validBegin" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.validBegin' | translate">Valid Begin</label>
                    <div class="d-flex">
                        <input id="field_validBegin" type="datetime-local" class="form-control" name="validBegin" [(ngModel)]="validBegin"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.validEnd" for="field_validEnd" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.validEnd' | translate">Valid End</label>
                    <div class="d-flex">
                        <input id="field_validEnd" type="datetime-local" class="form-control" name="validEnd" [(ngModel)]="validEnd"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.insertTime" for="field_insertTime" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.insertTime' | translate">Insert Time</label>
                    <div class="d-flex">
                        <input id="field_insertTime" type="datetime-local" class="form-control" name="insertTime" [(ngModel)]="insertTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.updateTime" for="field_updateTime" [ngbTooltip]="'plandbApp.planInfoStepDataAtchHis.help.updateTime' | translate">Update Time</label>
                    <div class="d-flex">
                        <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="updateTime"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.creator" for="field_creator">Creator</label>
                    <select class="form-control" id="field_creator" name="creator" [(ngModel)]="planInfoStepDataAtchHis.creatorId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rmsUserOption.id" *ngFor="let rmsUserOption of rmsusers; trackBy: trackRmsUserById">{{rmsUserOption.userName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.modifiedBy" for="field_modifiedBy">Modified By</label>
                    <select class="form-control" id="field_modifiedBy" name="modifiedBy" [(ngModel)]="planInfoStepDataAtchHis.modifiedById" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rmsUserOption.id" *ngFor="let rmsUserOption of rmsusers; trackBy: trackRmsUserById">{{rmsUserOption.userName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.planInfoStepAtch" for="field_planInfoStepAtch">Plan Info Step Atch</label>
                    <select class="form-control" id="field_planInfoStepAtch" name="planInfoStepAtch" [(ngModel)]="planInfoStepDataAtchHis.planInfoStepAtchId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planInfoStepAtchOption.id" *ngFor="let planInfoStepAtchOption of planinfostepatches; trackBy: trackPlanInfoStepAtchById">{{planInfoStepAtchOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plandbApp.planInfoStepDataAtchHis.planInfoStepDataHis" for="field_planInfoStepDataHis">Plan Info Step Data His</label>
                    <select class="form-control" id="field_planInfoStepDataHis" name="planInfoStepDataHis" [(ngModel)]="planInfoStepDataAtchHis.planInfoStepDataHisId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planInfoStepDataHisOption.id" *ngFor="let planInfoStepDataHisOption of planinfostepdatahis; trackBy: trackPlanInfoStepDataHisById">{{planInfoStepDataHisOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
