<div>
    <h2 id="page-heading">
        <span jhiTranslate="plandbApp.planInfoDataAtch.home.title">Plan Info Data Atches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plan-info-data-atch-sdm-suffix" [routerLink]="['/plan-info-data-atch-sdm-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="plandbApp.planInfoDataAtch.home.createLabel">
            Create new Plan Info Data Atch
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'plandbApp.planInfoDataAtch.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="planInfoDataAtches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="plandbApp.planInfoDataAtch.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="storeDir"><span jhiTranslate="plandbApp.planInfoDataAtch.storeDir">Store Dir</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="storeName"><span jhiTranslate="plandbApp.planInfoDataAtch.storeName">Store Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sortString"><span jhiTranslate="plandbApp.planInfoDataAtch.sortString">Sort String</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fileType"><span jhiTranslate="plandbApp.planInfoDataAtch.fileType">File Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deleteFlag"><span jhiTranslate="plandbApp.planInfoDataAtch.deleteFlag">Delete Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="storeType"><span jhiTranslate="plandbApp.planInfoDataAtch.storeType">Store Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ver"><span jhiTranslate="plandbApp.planInfoDataAtch.ver">Ver</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="encryptedFlag"><span jhiTranslate="plandbApp.planInfoDataAtch.encryptedFlag">Encrypted Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="encryptedType"><span jhiTranslate="plandbApp.planInfoDataAtch.encryptedType">Encrypted Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="jsonString"><span jhiTranslate="plandbApp.planInfoDataAtch.jsonString">Json String</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="plandbApp.planInfoDataAtch.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="attachmentPath"><span jhiTranslate="plandbApp.planInfoDataAtch.attachmentPath">Attachment Path</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="attachmentBlob"><span jhiTranslate="plandbApp.planInfoDataAtch.attachmentBlob">Attachment Blob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="attachmentName"><span jhiTranslate="plandbApp.planInfoDataAtch.attachmentName">Attachment Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="textBlob"><span jhiTranslate="plandbApp.planInfoDataAtch.textBlob">Text Blob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageBlob"><span jhiTranslate="plandbApp.planInfoDataAtch.imageBlob">Image Blob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageBlobName"><span jhiTranslate="plandbApp.planInfoDataAtch.imageBlobName">Image Blob Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validType"><span jhiTranslate="plandbApp.planInfoDataAtch.validType">Valid Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validBegin"><span jhiTranslate="plandbApp.planInfoDataAtch.validBegin">Valid Begin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validEnd"><span jhiTranslate="plandbApp.planInfoDataAtch.validEnd">Valid End</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="insertTime"><span jhiTranslate="plandbApp.planInfoDataAtch.insertTime">Insert Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="plandbApp.planInfoDataAtch.updateTime">Update Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creatorUserName"><span jhiTranslate="plandbApp.planInfoDataAtch.creator">Creator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedByUserName"><span jhiTranslate="plandbApp.planInfoDataAtch.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planInfoAtchName"><span jhiTranslate="plandbApp.planInfoDataAtch.planInfoAtch">Plan Info Atch</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planInfoDataName"><span jhiTranslate="plandbApp.planInfoDataAtch.planInfoData">Plan Info Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let planInfoDataAtch of planInfoDataAtches ;trackBy: trackId">
                <td><a [routerLink]="['/plan-info-data-atch-sdm-suffix', planInfoDataAtch.id, 'view' ]">{{planInfoDataAtch.id}}</a></td>
                <td>{{planInfoDataAtch.name}}</td>
                <td>{{planInfoDataAtch.storeDir}}</td>
                <td>{{planInfoDataAtch.storeName}}</td>
                <td>{{planInfoDataAtch.sortString}}</td>
                <td>{{planInfoDataAtch.fileType}}</td>
                <td>{{planInfoDataAtch.deleteFlag}}</td>
                <td>{{planInfoDataAtch.storeType}}</td>
                <td>{{planInfoDataAtch.ver}}</td>
                <td>{{planInfoDataAtch.encryptedFlag}}</td>
                <td>{{planInfoDataAtch.encryptedType}}</td>
                <td>{{planInfoDataAtch.jsonString}}</td>
                <td>{{planInfoDataAtch.remarks}}</td>
                <td>{{planInfoDataAtch.attachmentPath}}</td>
                <td>
                    <a *ngIf="planInfoDataAtch.attachmentBlob" (click)="openFile(planInfoDataAtch.attachmentBlobContentType, planInfoDataAtch.attachmentBlob)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="planInfoDataAtch.attachmentBlob">{{planInfoDataAtch.attachmentBlobContentType}}, {{byteSize(planInfoDataAtch.attachmentBlob)}}</span>
                </td>
                <td>{{planInfoDataAtch.attachmentName}}</td>
                <td>{{planInfoDataAtch.textBlob}}</td>
                <td>
                    <a *ngIf="planInfoDataAtch.imageBlob" (click)="openFile(planInfoDataAtch.imageBlobContentType, planInfoDataAtch.imageBlob)">
                        <img [src]="'data:' + planInfoDataAtch.imageBlobContentType + ';base64,' + planInfoDataAtch.imageBlob" style="max-height: 30px;" alt="planInfoDataAtch image"/>
                    </a>
                    <span *ngIf="planInfoDataAtch.imageBlob">{{planInfoDataAtch.imageBlobContentType}}, {{byteSize(planInfoDataAtch.imageBlob)}}</span>
                </td>
                <td>{{planInfoDataAtch.imageBlobName}}</td>
                <td jhiTranslate="{{'plandbApp.ValidType.' + planInfoDataAtch.validType}}">{{planInfoDataAtch.validType}}</td>
                <td>{{planInfoDataAtch.validBegin | date:'medium'}}</td>
                <td>{{planInfoDataAtch.validEnd | date:'medium'}}</td>
                <td>{{planInfoDataAtch.insertTime | date:'medium'}}</td>
                <td>{{planInfoDataAtch.updateTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="planInfoDataAtch.creatorId">
                        <a [routerLink]="['../rms-user-sdm-suffix', planInfoDataAtch.creatorId , 'view' ]" >{{planInfoDataAtch.creatorUserName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="planInfoDataAtch.modifiedById">
                        <a [routerLink]="['../rms-user-sdm-suffix', planInfoDataAtch.modifiedById , 'view' ]" >{{planInfoDataAtch.modifiedByUserName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="planInfoDataAtch.planInfoAtchId">
                        <a [routerLink]="['../plan-info-atch-sdm-suffix', planInfoDataAtch.planInfoAtchId , 'view' ]" >{{planInfoDataAtch.planInfoAtchName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="planInfoDataAtch.planInfoDataId">
                        <a [routerLink]="['../plan-info-data-sdm-suffix', planInfoDataAtch.planInfoDataId , 'view' ]" >{{planInfoDataAtch.planInfoDataName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/plan-info-data-atch-sdm-suffix', planInfoDataAtch.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/plan-info-data-atch-sdm-suffix', planInfoDataAtch.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plan-info-data-atch-sdm-suffix/'+ planInfoDataAtch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
